@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'config';
@import 'menu';
@import 'mobile';

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include background;
    background: $primary-color;
    color: #fff;
    height: 100%;
    font-family: $primary-font;
    line-height: 1.5;
}

.clearfix::before {
    content: '';
    clear: both;
    display: block;
}

// nagłowki
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 8rem;
    }

    &.sm-heading {
        font-size: 4rem;
        padding: 0.3rem -1rem;
        // background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}

//About Me

about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'tech1 tech2 tech3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .tech-1 {
        grid-area: job1;
    }

    .tech-2 {
        grid-area: job2;
    }

    .tech-3 {
        grid-area: job3;
    }

    .technology {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

.about-info img {
    position: absolute;
    top: 30%;
    left: auto;
    width: 250px;
    height: 270px;
    border-radius: 50%;
    border: solid 3px #eece1a;
    ;
}

.bio h3 {
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 10%;
    top: 30%;
    left: 25%;
    font-size: 9rem;
    font-weight: 700;
    margin: 0 auto;
    box-shadow: 0 0 3 black;


}

.bio p {
    position: absolute;
    display: inline-block;
    border-bottom: 4px solid $secondary-color;
    width: 60%;
    top: 30%;
    left: 38%;
    font-size: 2.6rem;
    letter-spacing: 4px;
    font-family: $secondary-font;
    font-style: italic;

}



#about {
    margin: 0 auto;

}

// Work/Projects
.projects {
    display: grid;
    grid-gap: .9rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.2rem;
    margin: 5rem;

}

main#work {
    height: 100vh;
}

.projects.item {
    padding: 1.2rem;
    border-radius: 25%;
}

img {
    width: 100%;
    border: 3px solid #fff;
    border-radius: 1%;
    padding: .5rem;
    // filter: blur(.5px);

    &:hover {
        opacity: .5;
        border-color: $secondary-color;
        @include easeOut;
    }
}

//Button Styles
.btn {
    position: relative;
    text-align: center;
    font-size: 1.7rem;
    line-height: 2rem;
    margin: .5rem auto;
    width: 40%;
    display: block;
    padding: .5rem 1rem;
    border: 2px solid $secondary-color;
    margin-bottom: .8rem;
    border-radius: 5px;
    overflow: hidden;


    transition: .20s .20s;

    &::before {
        content: "";
        top: 50%;
        left: 0;
        position: absolute;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        top: 50%;
        left: 100%;
        transition: left .4s, height .3s .4s;
        z-index: -1;
        background-color: $secondary-color;
    }

    &:hover::before {
        left: 0;
        height: 102%;
    }

    &:hover {
        // background: $secondary-color;
        border: 2px solid black;
        color: black;
    }

    // &:hover {
    //     background: $secondary-color;
    //     color: set-text-color($secondary-color);
    // }
}

.btn-dark {
    @extend .btn;
    background-color: transparent;
    // background: darken($primary-color, 50);
    color: #fff;

}

.btn-light {
    @extend .btn;
    background-color: transparent;
    // background: lighten($primary-color, 50);
    color: #fff;
}

#main-footer-about {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 15px;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: darken($primary-color, 10);
    color: set-text-color($primary-color);
}

footer#main-footer-work {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    line-height: 15px;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: darken($primary-color, 10);
    color: set-text-color($primary-color);
}

#main-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 15px;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: darken($primary-color, 10);
    color: set-text-color($primary-color);
}